// Button
.btn,
.btn-reg,
.btn:link,
.btn:visited {
  font-family: inherit;
  border-radius: $base-border-radius;
  border: 0;
  display: inline-block;
  padding: $base-padding-y $base-padding-x;
  font-size: $base-font-size;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.2s;
  min-width: 84px;
  text-align: center;
  @include flexCenter;

  > svg {
    transform: scale(0.75);
    margin-right: 0.25rem;
  }

  &:disabled {
    pointer-events: none;
    background-color: $primary-light;
  }
}

.btn-sm {
  padding: $base-padding-y * 0.8 $base-padding-x * 0.7;
  font-size: 13px;
  min-width: 70px;
}

// For Button Colors
@each $color-key, $color-value in $colors {
  @if $color-key != "white" and $color-key != "black" {
    @each $tone-key, $tone-value in $color-value {
      @if $tone-key == base {
        .btn-#{$color-key} {
          background-color: $tone-value;
          color: $white;
        }
      }

      @if $tone-key == light {
        .btn-#{$color-key}:hover {
          background-color: $tone-value;
        }
      }
    }
  }
}

// BOX
.box {
  background-color: $white;

  &-rounded {
    overflow: hidden;
    border-radius: 5px;
  }

  &-bordered-bottom {
    padding: 0.85rem;
    border-bottom: 1px solid $light-100;
  }
}

// LOGO
.logo {
  height: 60%;
}

// TEXT
.text-lead {
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

// CONTENT
.content {
  margin-left: auto;
  height: calc(100% - $header-height);
  width: calc(100% - $sidebar-width);

  @media only screen and (max-width: $mobile-bp) {
    & {
      width: 100vw;
    }
  }
}

// OVERLAY
.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 100;

  @media only screen and (min-width: $mobile-bp) {
    &.overlay-menu {
      display: none !important;
    }
  }
}

// Loading Spinner
.app-loading-spinner {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 9999;

  &::after {
    content: "";
    width: 60px;
    height: 60px;
    border-top: 5px solid $primary;
    border-right: 5px solid transparent;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -30px;
    margin-left: -30px;
    animation: spin 0.6s linear infinite;
  }
}

// HEADER
.header {
  @include flexAlignCenter;

  width: 100%;
  height: $header-height;
  color: $dark-300;
  background-color: $white;
  border-bottom: 1px solid $light-100;
  position: relative;
  z-index: 101;

  &-logo-box {
    @include flexCenter;
    height: 100%;
    width: $sidebar-width;
    border-right: 1px solid $light-100;

    @media only screen and (max-width: $mobile-bp) {
      & {
        order: 2;
      }
    }
  }

  &-menu-icon {
    @include flexCenter;
    width: 4rem;
    height: 100%;
    cursor: pointer;
    transition: all 0.2s;
    display: none;

    &:hover {
      background-color: $light-100;
    }

    @media only screen and (max-width: $mobile-bp) {
      & {
        order: 1;
        display: flex;
      }
    }
  }

  &-user-box {
    @include flexCenter;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    margin-left: auto;
    margin-right: 1rem;
    cursor: pointer;
    transition: all 0.3s;
    position: relative;

    &:hover {
      background-color: $primary-light;
    }

    @media only screen and (max-width: $mobile-bp) {
      & {
        order: 3;
        margin-right: 0;
      }
    }
  }
}

// AVATAR
.avatar {
  @include flexCenter;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;

  color: $white;
  font-weight: 700;
  text-transform: uppercase;

  &-text {
    background-color: $primary;
  }
}

// FORM
.form {
  background-color: $white;
  display: inline-block;
  padding: 2.5rem;
  min-width: 28rem;

  &-logo {
    @include flexCenter;

    width: 100%;
    height: 2.8rem;
    margin-bottom: 2rem;
  }

  &-text {
    font-size: 13px;
    font-weight: 600;

    &--link {
      cursor: pointer;
      transition: all 0.2s;

      &:hover {
        color: $primary !important;
      }
    }
  }

  &-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.85rem;

    &__label {
      font-size: 13px;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 0.14em;
      color: $dark-300;
      margin-bottom: 3px;
    }

    &__input {
      font-family: inherit;
      font-size: 14px;
      padding: $base-padding-y $base-padding-x;
      border-radius: $base-border-radius;
      outline: none;
      border: 1px solid transparent;
      background-color: $light-100;
      color: $dark-300;

      // &:focus,
      // &:active {
      //   border: 2px solid $primary;
      // }
      &:hover,
      &:focus {
        box-shadow: 0 0 0 3px $primary-light;
        // border: 1px solid $primary;
      }
    }

    &__select {
      // appearance: none;
      background-color: $light-100;
      color: $dark-300;
      font-family: inherit;
      font-size: 14px;
      padding: $base-padding-y $base-padding-x;
      outline: 0;
      border: 1px solid $light-100;
      border-radius: $base-border-radius;
      transition: all 0.2s;
      cursor: pointer;

      &:hover,
      &:focus {
        box-shadow: 0 0 0 3px $primary-light;
        border: 1px solid $primary;
      }
    }
  }
}

// SIDEBAR
.sidebar {
  display: flex;
  flex-direction: column;

  width: $sidebar-width;
  border-right: 1px solid $light-100;
  position: absolute;
  top: $header-height;
  left: 0;
  bottom: 0;
  z-index: 101;

  transform: translateX(0);
  transition: transform 0.3s;

  @media only screen and (min-width: $mobile-bp) {
    & {
      transform: translateX(0) !important;
    }
  }

  &-open {
    transform: translateX(0);
  }

  &-close {
    transform: translateX(-100%);
  }

  // Menu
  &-menu {
    padding: 2rem 0;

    &-label {
      padding: 0.4rem 1rem;
      border-bottom: 1px solid $light-100;
      color: #ccc;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 600;
    }
  }
}

// LIST
.list-item {
  @include flexAlignCenter;

  padding: 0.75rem 1rem;
  color: $dark-300;
  transition: all 0.2s;
  user-select: none;

  &.selected {
    color: $primary;
    background-color: $primary-light;
  }

  &.sidebar-selected {
    color: $primary-light;
    background-color: $primary;
  }

  &:hover:not(.selected, .sidebar-selected) {
    background-color: $light-100;
  }

  &:not(:last-child) {
    border-bottom: 1px solid $light-100;
  }

  &__icon {
    margin: 0 1rem;
    @include flexCenter;

    &-svg {
      width: 24px;
      height: 24px;
      transform: scale(0.8);
    }
  }

  &__text-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  &__primary-text {
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
    text-transform: capitalize;
  }
  &__sub-text {
    font-size: 12px;
    display: inline-block;
    line-height: 1;
  }
}

// TAB
.tab {
  @include flexAlignCenter;
  border-bottom: 1px solid $light-100;
  user-select: none;
  padding: 0 0.8rem;
  margin-bottom: 4px;

  &-item {
    flex: 1;
    padding: 0.7rem 1.5rem;
    cursor: pointer;
    text-align: center;
    position: relative;
    transition: all 0.2s;

    &:hover:not(.active) {
      background-color: $light-100;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: -2px;
      left: 0;
      height: 3px;
      width: 100%;
      background-color: $primary;
      transition: all 0.2s;
      transform-origin: 0;
      transform: scale(0);
    }

    &.active::before {
      transform: scale(1);
    }

    &.active {
      color: $primary;
      background-color: $primary-light;
    }
  }

  &-label {
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
    white-space: nowrap;
  }
}

// DATA TABLE
.data-table {
  display: flex;
  flex-direction: column;
  background-color: $white;
  border-radius: 5px;
  min-width: 100%;
  padding: 0 1.5rem 1rem;
  overflow: auto;

  &.hoverable &-body {
    &__row {
      cursor: pointer;

      &:hover {
        background-color: $light-100;
      }
    }
  }

  &-head {
    display: flex;
    gap: 1.5rem;
    padding: 1rem;
    border-bottom: 2px solid $light-100;
    border-top: 2px solid $light-100;

    background-color: $primary;
    color: $primary-light;

    &__cell {
      flex: 1;
      font-weight: 700;
      font-size: 14px;
      text-transform: capitalize;

      &.small {
        flex: 0 0 4rem;
      }
    }
  }

  &-body {
    min-height: 0;
    overflow: auto;

    &__row {
      display: flex;
      gap: 1.5rem;
      transition: all 0.2s;
      padding: 0 1rem;

      &:not(:last-child) {
        border-bottom: 1px solid $light-100;
      }

      &:nth-child(odd) {
        background-color: rgba(#f2f2f2, 0.5);
        color: $dark-300;
      }
    }

    &__cell {
      flex: 1;
      font-size: 14px;
      padding: 1rem 0;

      @include flexAlignCenter;

      &.small {
        flex: 0 0 4rem;
      }
    }
  }
}

// ICON BUTTON
.icon-btn {
  width: 2rem;
  height: 2rem;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.2s;
  @include flexCenter;

  & > svg {
    transform: scale(0.7);
  }

  &-primary {
    color: $primary;
    background-color: $primary-light;

    &:hover {
      color: $primary-light;
      background-color: $primary;
    }
  }

  &-success {
    color: $success;
    background-color: $success-light;

    &:hover {
      color: $success-light;
      background-color: $success;
    }
  }

  &-info {
    color: $info;
    background-color: $info-light;

    &:hover {
      color: $info-light;
      background-color: $info;
    }
  }

  &-danger {
    color: $danger;
    background-color: $danger-light;

    &:hover {
      color: $danger-light;
      background-color: $danger;
    }
  }
}

// MENU POPUP
.menu-popup {
  min-width: 140px;
  position: absolute;
  top: 3rem;
  right: 2rem;
  padding: 0.5rem 0;
  background-color: white;
  border: 1px solid $light-100;
  border-radius: $base-border-radius;
  box-shadow: $box-shadow;

  transition: transform 0.3s;
  transform: scale(1);
  transform-origin: right top;
  z-index: 500;

  animation: show-popup 150ms ease-out;

  &__item {
    padding: 0.2rem 1rem;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      background-color: $light-100;
    }
  }
}

// MODAL
.modal-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: transparent;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);

  z-index: 900;
  user-select: none;
}

.modal-content {
  background-color: white;
  border-radius: $base-border-radius;
  box-shadow: $box-shadow;
  padding: 1rem;
  min-width: 90%;
  max-width: 90%;
  z-index: 950;
  /* align-self: flex-end; */
  margin-bottom: 2rem;
  animation: fadeIn;
  animation-duration: 0.2s;

  transform: translateY(0);

  @media screen and (min-width: $mobile-bp) {
    & {
      min-width: 500px;
      max-width: 500px;
      align-self: center;
    }
  }
}

.modal-header {
  @include flexAlignCenter;
  margin-bottom: 0.8rem;
}

.modal-footer {
  display: flex;

  &__buttons {
    margin-left: auto;
    padding-top: 1rem;
    flex: 1;
    border-top: 1px solid $light-100;
    @include flexAlignCenter;
    justify-content: flex-end;

    & .btn {
      margin-left: 1rem;
    }
  }
}

// PROFILE
.profile-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  @include flexCenter;

  & > img {
    width: 120px;
    height: 120px;
    border-radius: 60px;
  }

  &-input {
    position: absolute;
    width: 120px;
    height: 120px;
    z-index: 30;
    background-color: rgba($primary, 0.5);
    border-radius: 50%;
    transform: translateY(120px);
    transition: transform 0.3s, opacity 0.2s ease-in;
    opacity: 0;
    cursor: pointer;
  }

  &::after {
    content: "Upload Photo";
    font-size: 13px;
    font-weight: 600;
    @include flexCenter;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120px;
    height: 120px;
    color: $white;
    border-radius: 50%;
    background-color: rgba($black, 0.8);
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: transform 0.3s, opacity 0.2s ease-in;
  }

  &:hover &-input {
    transform: translateY(0);
  }

  &:hover::after {
    opacity: 1;
  }
}

// SNACKBAR
.snackbar {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  min-width: 300px;
  max-width: 350px;
  @include flexAlignCenter;
  background-color: $primary;
  color: $white;
  border-radius: $base-border-radius;
  box-shadow: $box-shadow;
  user-select: none;
  z-index: 500;

  position: fixed;
  bottom: 30px;
  left: 80%;

  transform: translateX(-50%);

  animation: show-snackbar;
  animation-duration: 0.3s;

  &__message {
    color: currentColor;
    font-size: 0.9rem;
    padding: 0.5rem 0;
  }

  &__close {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $info;
    color: $info;
    outline: none;
    border: none;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    cursor: pointer;
    transition: opacity 0.3s;
    opacity: 0.7;

    &:hover {
      opacity: 1;
      color: $info;
    }
  }
}

// PROGRESS BAR
.progress-bar {
  min-width: 50%;
  display: flex;
  background-color: $light-100;
  border-radius: 4px;
  overflow: hidden;

  &__inner {
    flex: 1;
    height: 6px;
    background-color: $info;
    transform-origin: 0;
    transition: transform 0.3s;
  }
}

// FOLDER
.folder-container {
  display: flex;
  flex-direction: column;
  background-color: $white;
  border-radius: 5px;
  min-width: 100%;
  // padding: 0 1.5rem 1rem;
  overflow: auto;
}

.folder-body {
  min-height: 0;
  overflow: auto;
}

.folder-head {
  display: flex;
  align-items: center;

  &.selected {
    background-color: $info-light;
    color: $info;
  }

  &.selected > .folder-icon-right {
    transform: rotate(90deg) scale(0.6);
  }
}

.folder-icon {
  transform: rotate(0) scale(0.6);
  margin-right: 0.5rem;
  transition: transform 0.2s;
  transform-origin: center;

  &-right {
    margin-left: auto;
  }
}

.folder-label {
  font-size: 14px;
}

.folder-children {
  margin-left: 0.5rem;
}

.folder-node {
  cursor: pointer;
  transition: all 0.2s;
  user-select: none;
  border-bottom: 1px solid $light-100;

  &:hover:not(.selected) {
    background-color: $light-100;
  }
}

.folder-child {
  transition: all 0.2s;
  &:hover {
    background-color: $light-100;
  }
}
