// Button
.btn,
.btn-reg,
.btn:link,
.btn:visited {
  font-family: inherit;
  border-radius: $base-border-radius;
  border: 0;
  display: inline-block;
  padding: $base-padding-y $base-padding-x;
  font-size: $base-font-size;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.2s;
  min-width: 84px;
  text-align: center;
  @include flexCenter;

  > svg {
    transform: scale(0.75);
    margin-right: 0.25rem;
  }
}

.btn-sm {
  padding: $base-padding-y * 0.8 $base-padding-x * 0.7;
  font-size: 13px;
  min-width: 60px;
}

// For Button Colors
@each $color-key, $color-value in $colors {
  @if $color-key != "white" and $color-key != "black" {
    @each $tone-key, $tone-value in $color-value {
      @if $tone-key == base {
        .btn-#{$color-key} {
          background-color: $tone-value;
          color: $white;
        }
      }

      @if $tone-key == light {
        .btn-#{$color-key}:hover {
          background-color: $tone-value;
        }
      }
    }
  }
}

// BOX
.box {
  background-color: $white;

  &-rounded {
    overflow: hidden;
    border-radius: 5px;
  }

  &-bordered-bottom {
    padding: 0.85rem;
    border-bottom: 1px solid $light-100;
  }
}

// TEXT
.text-lead {
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

// CONTENT
.content {
  margin-left: auto;
  height: calc(100% - $header-height);
  width: calc(100% - $sidebar-width);

  @media only screen and (max-width: $mobile-bp) {
    & {
      width: 100vw;
    }
  }
}

// OVERLAY
.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 100;

  @media only screen and (min-width: $mobile-bp) {
    &.overlay-menu {
      display: none !important;
    }
  }
}

// Loading Spinner
.app-loading-spinner {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 9999;

  &::after {
    content: "";
    width: 60px;
    height: 60px;
    border-top: 5px solid $primary;
    border-right: 5px solid transparent;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -30px;
    margin-left: -30px;
    animation: spin 0.6s linear infinite;
  }
}

// HEADER
.header {
  @include flexAlignCenter;

  width: 100%;
  height: $header-height;
  color: $dark-300;
  background-color: $white;
  border-bottom: 1px solid $light-100;
  position: relative;
  z-index: 101;

  &-logo-box {
    @include flexCenter;
    height: 100%;
    width: $sidebar-width;
    border-right: 1px solid $light-100;

    @media only screen and (max-width: $mobile-bp) {
      & {
        order: 2;
      }
    }
  }

  &-menu-icon {
    @include flexCenter;
    width: 4rem;
    height: 100%;
    cursor: pointer;
    transition: all 0.2s;
    display: none;

    &:hover {
      background-color: $light-100;
    }

    @media only screen and (max-width: $mobile-bp) {
      & {
        order: 1;
        display: flex;
      }
    }
  }

  &-user-box {
    @include flexCenter;
    height: 100%;
    padding: 0 1rem;
    margin-left: auto;
    margin-right: 1rem;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      background-color: $light-100;
    }

    @media only screen and (max-width: $mobile-bp) {
      & {
        order: 3;
        margin-right: 0;
      }
    }
  }
}

// AVATAR
.avatar {
  @include flexCenter;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  background-color: $primary;
  color: $white;
  font-weight: 700;
  text-transform: uppercase;
}

// FORM
.form {
  background-color: $white;
  display: inline-block;
  padding: 2.5rem;
  min-width: 28rem;

  &-logo {
    @include flexCenter;

    width: 100%;
    height: 2.8rem;
    margin-bottom: 2rem;
  }

  &-text {
    font-size: 13px;
    font-weight: 600;

    &--link {
      cursor: pointer;
      transition: all 0.2s;

      &:hover {
        color: $primary !important;
      }
    }
  }

  &-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.85rem;

    &__label {
      font-size: 13px;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 0.14em;
      color: $dark-300;
      margin-bottom: 3px;
    }

    &__input {
      font-family: inherit;
      font-size: 14px;
      padding: $base-padding-y $base-padding-x;
      border-radius: $base-border-radius;
      outline: none;
      border: 1px solid transparent;
      background-color: $light-100;
      color: $dark-300;

      // &:focus,
      // &:active {
      //   border: 2px solid $primary;
      // }
      &:hover,
      &:focus {
        box-shadow: 0 0 0 3px $primary-light;
        border: 1px solid $primary;
      }
    }

    &__select {
      // appearance: none;
      background-color: $light-100;
      color: $dark-300;
      font-family: inherit;
      font-size: 14px;
      padding: $base-padding-y $base-padding-x;
      outline: 0;
      border: 1px solid $light-100;
      border-radius: $base-border-radius;
      transition: all 0.2s;
      cursor: pointer;

      &:hover,
      &:focus {
        box-shadow: 0 0 0 3px $primary-light;
        border: 1px solid $primary;
      }
    }
  }
}

// SIDEBAR
.sidebar {
  width: $sidebar-width;
  border-right: 1px solid $light-100;
  position: absolute;
  top: $header-height;
  left: 0;
  bottom: 0;
  z-index: 101;

  transform: translateX(0);
  transition: transform 0.3s;

  @media only screen and (min-width: $mobile-bp) {
    & {
      transform: translateX(0) !important;
    }
  }

  &-open {
    transform: translateX(0);
  }

  &-close {
    transform: translateX(-100%);
  }

  // Menu
  &-menu {
    padding: 2rem 0;

    &-label {
      padding: 0.8rem 1rem;
      border-bottom: 1px solid $light-100;
      color: #ccc;
      text-transform: uppercase;
      font-size: 13px;
      font-weight: 600;
    }
  }
}

// LIST
.list-item {
  @include flexAlignCenter;

  padding: 0.75rem 1rem;
  color: $dark-300;
  transition: all 0.2s;
  user-select: none;

  &.selected {
    color: $primary;
    background-color: $primary-light;
  }

  &:hover:not(.selected) {
    background-color: $light-100;
  }

  &:not(:last-child) {
    border-bottom: 1px solid $light-100;
  }

  &__icon {
    margin: 0 1rem;
    @include flexCenter;

    &-svg {
      width: 24px;
      height: 24px;
      transform: scale(0.8);
    }
  }

  &__text-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  &__primary-text {
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
    text-transform: capitalize;
  }
  &__sub-text {
    font-size: 12px;
    display: inline-block;
    line-height: 1;
  }
}

// TAB
.tab {
  @include flexAlignCenter;
  border-bottom: 1px solid $light-100;
  user-select: none;
  padding: 0 1rem;

  &-item {
    flex: 1;
    padding: 0.8rem 1.5rem;
    cursor: pointer;
    text-align: center;
    position: relative;
    transition: all 0.2s;

    &:hover:not(.active) {
      background-color: $light-100;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: -2px;
      left: 0;
      height: 3px;
      width: 100%;
      background-color: $primary;
      transition: all 0.2s;
      transform-origin: 0;
      transform: scale(0);
    }

    &.active::before {
      transform: scale(1);
    }

    &.active {
      color: $primary;
    }
  }

  &-label {
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
  }
}

// DATA TABLE
.data-table {
  display: flex;
  flex-direction: column;
  background-color: $white;
  border-radius: 5px;
  min-width: 100%;
  padding: 0 1.5rem 1rem;
  overflow: auto;

  &.hoverable &-body {
    &__row {
      cursor: pointer;

      &:hover {
        background-color: $light-100;
      }
    }
  }

  &-head {
    display: flex;
    gap: 1.5rem;
    padding: 1rem;
    border-bottom: 2px solid $light-100;
    border-top: 2px solid $light-100;

    &__cell {
      flex: 1;
      font-weight: 600;
      font-size: 14px;
      text-transform: capitalize;

      &.small {
        flex: 0 0 4rem;
      }
    }
  }

  &-body {
    min-height: 0;
    overflow: auto;

    &__row {
      display: flex;
      gap: 1.5rem;
      transition: all 0.2s;
      padding: 0 1rem;

      &:not(:last-child) {
        border-bottom: 1px solid $light-100;
      }
    }

    &__cell {
      flex: 1;
      font-size: 14px;
      padding: 1rem 0;

      @include flexAlignCenter;

      &.small {
        flex: 0 0 4rem;
      }
    }
  }
}

// ICON BUTTON
.icon-btn {
  width: 2rem;
  height: 2rem;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.2s;
  @include flexCenter;

  & > svg {
    transform: scale(0.7);
  }

  &-primary {
    color: $primary;
    background-color: $primary-light;

    &:hover {
      color: $primary-light;
      background-color: $primary;
    }
  }

  &-success {
    color: $success;
    background-color: $success-light;

    &:hover {
      color: $success-light;
      background-color: $success;
    }
  }

  &-info {
    color: $info;
    background-color: $info-light;

    &:hover {
      color: $info-light;
      background-color: $info;
    }
  }

  &-danger {
    color: $danger;
    background-color: $danger-light;

    &:hover {
      color: $danger-light;
      background-color: $danger;
    }
  }
}
