// COLORS
$primary: #da0037;
$primary-light: #fce6eb;
$secondary: #aaaaaa;

$dark-500: #171717;
$dark-300: #444444;
$dark-100: #aaaaaa;

$light-500: #ffffff;
$light-100: #ededed;

$success: #18ae15;
$success-light: #bae7b9;

$info: #009cdc;
$info-light: #ccebf8;

$danger: #fc3939;

$warning: #efa31d;

$white: #ffffff;
$black: #000000;

$lighten: 5;
$darken: 10;

$base-border-radius: 0.25rem;
$base-padding-x: 1rem;
$base-padding-y: 0.5rem;
$base-font-size: 0.85rem;

$base-flex-gap: 1.5rem;
$sidebar-width: 240px;
$header-height: 60px;

$mobile-bp: 600px;
